extends layout 

block content 
    section
        #main.container
            #main2.clearfix
                #content
                    .row 
                        .col-4.border 
                            .logo
                                img#img1.img-fluid(src='/images/logo2.png')
                            .info.border-top
                                p.fs-4.text-center 공공데이터를 활용한 식물 추천 웹사이트
                                p.fs-4.text-center I'm Plant Gander

                        #info2.col-8.border
                            p.fs-4.infop 코로나19의 여파로 비대면 연장과 1인 가구, 1인 가정이 점점 늘어나므로 집에서 시간을 보내는 사람들이 늘면서 취미와 힐링을 할 수 있는 
                                span.fw-bolder '홈가드닝'
                                span 이 인기를 끌고 있다. 
                            p.infop.fs-4 또한 이러한 시대에 사람들에게는 정서적 교감이 나눌 상대가 필요하지만 반려동물은 책임감이 필요하므로 이에 비해 상대적으로 손도 덜 가며 정서적 안정감을 줄 수 있는 반려식물을 사용자 환경에 맞게 추천해주는 웹사이트이다.