extends layout 

block content
    section
        #main.container
            #main2.clearfix
                #content 
                    p.fs-4.text-center.border  식물을 키울 장소의 환경에 맞게 선택지를 골라주세요
                    form#input_form.row.align-items-center(method = 'get', action='/recommend/output' onsubmit="return inputCheck();")
                        .plant_water.col-sm-6
                            .ask
                                h3.fs-4.text-center 물 관리 난이도: 높을수록 관리 난이도 올라가요
                            .water
                                input#plant_water(type = 'radio' name = 'plant_water' value = "1")
                                label#plant_water.form-check-label(for='plant_water1')
                                    | 1
                                input#plant_water(type = 'radio' name = 'plant_water' value = "2")
                                label#plant_water.form-check-label(for='plant_water2')
                                    | 2
                                input#plant_water(type = 'radio' name = 'plant_water' value = "3")
                                label#plant_water.form-check-label(for='plant_water3')
                                    | 3
                                input#plant_water(type = 'radio' name = 'plant_water' value = "4")
                                label#plant_water.form-check-label(for='plant_water4')
                                    | 4

                                
                                    
                        .plant_temperature.col-sm-6
                            .ask
                                h3.fs-4.text-center 키울 장소의 온도를 입력해주세요.
                            .temperature
                                input#plant_temperature(type = 'number' name = 'plant_temperature')
                        .plant_height.col-sm-6
                            .ask
                                h3.fs-4.text-center 식물의 높이를 선택해주세요.
                            .height
                                input#plant_height(type = 'radio' name = 'plant_height' value = "15")
                                label#plant_height.form-check-label(for='flexRadioDefault1')
                                    | 0~30
                                input#plant_height(type = 'radio' name = 'plant_height' value = "45")
                                label#plant_height.form-check-label(for='flexRadioDefault1')
                                    | 30~60
                                input#plant_height(type = 'radio' name = 'plant_height' value = "75")
                                label#plant_height.form-check-label(for='flexRadioDefault1')
                                    | 60~90
                                input#plant_height(type = 'radio' name = 'plant_height' value = "105")
                                label#plant_height.form-check-label(for='flexRadioDefault1')
                                    | 90~120
                                input#plant_height(type = 'radio' name = 'plant_height' value = "135")
                                label#plant_height.form-check-label(for='flexRadioDefault1')
                                    | 120~150
                                input#plant_height(type = 'radio' name = 'plant_height' value = "175")
                                label#plant_height.form-check-label(for='flexRadioDefault1')
                                    | 150이상
                            .temp_message
                                
                        .plant_width.col-sm-6
                            .ask  
                                h3.fs-4.text-center 식물의 너비를 선택해주세요.
                            .width 
                                input#plant_width(type = 'radio' name = 'plant_width' value = "15")
                                label#plant_width.form-check-label(for='flexRadioDefault1')
                                    | 0~30
                                input#plant_width(type = 'radio' name = 'plant_width' value = "45")
                                label#plant_width.form-check-label(for='flexRadioDefault1')
                                    | 30~60
                                input#plant_width(type = 'radio' name = 'plant_width' value = "75")
                                label#plant_width.form-check-label(for='flexRadioDefault1')
                                    | 60~90
                                input#plant_width(type = 'radio' name = 'plant_width' value = "105")
                                label#plant_width.form-check-label(for='flexRadioDefault1')
                                    | 90~120
                                input#plant_width(type = 'radio' name = 'plant_width' value = "135")
                                label#plant_width.form-check-label(for='flexRadioDefault1')
                                    | 120~150
                                input#plant_width(type = 'radio' name = 'plant_width' value = "175")
                                label#plant_width.form-check-label(for='flexRadioDefault1')
                                    | 150이상
                                
                                 
                        //- .plant_flower.col-sm-6
                        //-     .ask
                        //-         h3.fs-4.text-center 꽃의 유무
                        //-     .flower 
                        //-         input#plant_flower(type = 'radio' name = 'plant_flower' value = "1")
                        //-         label#plant_flower.form-check-label(for='flexRadioDefault1')
                        //-             | 있음
                        //-         input#plant_flower(type = 'radio' name = 'plant_flower' value = "0")
                        //-         label#plant_flower.form-check-label(for='flexRadioDefault1')
                        //-             | 없음
                                

                        .plant_light.col-sm-6
                            .ask 
                                h3.fs-4.text-center 배치장소를 선택해주세요.
                            .light 
                                input#plant_light(type = 'radio' name = 'plant_light' value ='3')
                                label#plant_light.form-check-label(for='flexRadioDefault1')
                                    | 배란다
                                input#plant_light(type = 'radio' name = 'plant_light' value ='2')
                                label#plant_light.form-check-label(for='flexRadioDefault1')
                                    | 창측
                                input#plant_light(type = 'radio' name = 'plant_light' value ='1')
                                label#plant_light.form-check-label(for='flexRadioDefault1')
                                    | 실내
                                
                                
                            
                                                       
                        .plant_toxicity.col-sm-6
                            .ask
                                h3.fs-4.text-center 독성 유무
                            .toxicity 
                                input#plant_toxicity(type = 'radio' name = 'plant_toxicity' value = "1")
                                label#plant_toxicity.form-check-label(for='flexRadioDefault1')
                                    | 있음
                                input#plant_toxicity(type = 'radio' name = 'plant_toxicity' value = "0")
                                label#plant_toxicity.form-check-label(for='flexRadioDefault1')
                                    | 없음
                                
                        //- .plant_fruit.col-sm-6
                        //-     .ask 
                        //-         h3.fs-4.text-center 열매 유무
                        //-     .fruit
                        //-         input#plant_fruit(type = 'radio' name = 'plant_fruit' value = "1")
                        //-         label#plant_fruit.form-check-label(for='flexRadioDefault1')
                        //-             | 있음
                        //-         input#plant_fruit(type = 'radio' name = 'plant_fruit' value = "0")
                        //-         label#plant_fruit.form-check-label(for='flexRadioDefault1')
                        //-             | 없음
                                

                        button.btn.btn-outline-success(type='submit') 입력 완료
    

    script(src='/input.js')


                        

