extends layout

block content
    #main.container
        #main2.clearfix
            #content
                .join-wrap
                    form#joinForm(action='new_user' method='post')
                        .name-wrap
                            input#name-input(type="text" name='user_name')
                            span#phTxt_name 이름을 입력해주세요.
                        .id-info
                            p 8~20자의 영어, 숫자만 가능합니다. 
                        .id-wrap
                            input#id-input(type='text' name='web_id')
                            span#phTxt_id 아이디를 입력해주세요.
                        .join-id-error
                        .pw-info
                            p 8~20자의 영어, 숫자, 특수문자만 가능합니다.
                        .pw-wrap
                            input#pw-input(type='password' name='web_password')
                            span#phTxt_pw 비밀번호를 입력해주세요.
                        .join-pw-error
                        .pw-wrap
                            input#pw-re-input(type='password' name='web_password_check')
                            span#phTxt_re_pw 비밀번호를 다시 입력해주세요.
                        .join-pw-re-error
                        .email-wrap
                            input#email-input(type='text' name='email')
                            span#phTxt_email 이메일을 입력해주세요.
                        .email-error
                        .joinBtn-wrap
                            button#joinBtn(type='submit') 회원가입
    script. 
        const emInput = document.querySelector("#id-input");
        const pwInput = document.querySelector("#pw-input");
        const pwReInput = document.querySelector("#pw-re-input");
        const emailInput = document.querySelector("#email-input");
        const nameInput = document.querySelector("#name-input");
        const joinBtn = document.querySelector("#joinBtn");

        const ph_id = document.querySelector("#phTxt_id");
        const ph_pw = document.querySelector("#phTxt_pw");
        const ph_re_pw = document.querySelector("#phTxt_re_pw");
        const ph_email = document.querySelector("#phTxt_email");
        const ph_name = document.querySelector("#phTxt_name");
        const ph_style_set = ph_id.style;

        emInput.addEventListener('focus', (e)=>{
            e.target.parentElement.children[1].style.fontSize = '9px';
            e.target.parentElement.children[1].style.top = '12px';
            e.target.parentElement.children[1].style.left = '7px';
        });

        emInput.addEventListener('blur', (e)=>{
            if(emInput.value === ''){
                e.target.parentElement.children[1].style = ph_style_set;
            }
        });

        pwInput.addEventListener('focus', (e)=>{
            e.target.parentElement.children[1].style.fontSize = '9px';
            e.target.parentElement.children[1].style.top = '12px';
            e.target.parentElement.children[1].style.left = '7px';
        });

        pwInput.addEventListener('blur', (e)=>{
            if(pwInput.value === ''){
                e.target.parentElement.children[1].style = ph_style_set;
            }
        });
        pwReInput.addEventListener('focus', (e)=>{
            e.target.parentElement.children[1].style.fontSize = '9px';
            e.target.parentElement.children[1].style.top = '12px';
            e.target.parentElement.children[1].style.left = '7px';
        });

        pwReInput.addEventListener('blur', (e)=>{
            if(pwReInput.value === ''){
                e.target.parentElement.children[1].style = ph_style_set;
            }
        });
        emailInput.addEventListener('focus', (e)=>{
            e.target.parentElement.children[1].style.fontSize = '9px';
            e.target.parentElement.children[1].style.top = '12px';
            e.target.parentElement.children[1].style.left = '7px';
        });

        emailInput.addEventListener('blur', (e)=>{
            if(emailInput.value === ''){
                e.target.parentElement.children[1].style = ph_style_set;
            }
        });
        nameInput.addEventListener('focus', (e)=>{
            e.target.parentElement.children[1].style.fontSize = '9px';
            e.target.parentElement.children[1].style.top = '12px';
            e.target.parentElement.children[1].style.left = '7px';
        });

        nameInput.addEventListener('blur', (e)=>{
            if(nameInput.value === ''){
                e.target.parentElement.children[1].style = ph_style_set;
            }
        });
        ph_name.addEventListener('click', (e)=>{
        e.target.parentElement.children[0].focus();
        });
        ph_id.addEventListener('click', (e)=>{
        e.target.parentElement.children[0].focus();
        });
        ph_pw.addEventListener('click', (e)=>{
            e.target.parentElement.children[0].focus();
        });
        ph_re_pw.addEventListener('click', (e)=>{
            e.target.parentElement.children[0].focus();
        });
        ph_email.addEventListener('click', (e)=>{
            e.target.parentElement.children[0].focus();
        });