extends layout 

block content
    #main.container
        #main2.clearfix
            #content 
                .login-wrap
                    form#loginForm(action='admit' method='post') 
                        .id-wrap
                            input#id-input(type='text' name='web_id')
                            span.phTxt_id 아이디(Id)
                        .id-error
                        .pw-wrap
                            input#pw-input(type='password' name='web_password')
                            span.phTxt_pw 비밀번호(Password)
                        .pw-error
                        .loginBtn-wrap
                            button#loginBtn(type='submit') 로그인
                        .joinBtn-wrap
                            a(href='/join') 
                                button#joinBtn(type='button') 회원가입
    script.
        const emInput = document.querySelector("#id-input");
        const pwInput = document.querySelector("#pw-input");
        const loginBtn = document.querySelector("#loginBtn");

        const ph_id = document.querySelector(".phTxt_id");
        const ph_pw = document.querySelector(".phTxt_pw");
        const ph_style_set = ph_id.style;


        emInput.addEventListener('focus', (e)=>{
            e.target.parentElement.children[1].style.fontSize = '9px';
            e.target.parentElement.children[1].style.top = '12px';
            e.target.parentElement.children[1].style.left = '7px';
        });

        emInput.addEventListener('blur', (e)=>{
            if(emInput.value === ''){
                e.target.parentElement.children[1].style = ph_style_set;
            }
        });

        pwInput.addEventListener('focus', (e)=>{
            e.target.parentElement.children[1].style.fontSize = '9px';
            e.target.parentElement.children[1].style.top = '12px';
            e.target.parentElement.children[1].style.left = '7px';
        });

        emInput.addEventListener('blur', (e)=>{
            if(emInput.value === ''){
                e.target.parentElement.children[1].style = ph_style_set;
            }
        });

        pwInput.addEventListener('blur', (e)=>{
            if(pwInput.value === ''){
                e.target.parentElement.children[1].style = ph_style_set;
            }
        });
        ph_id.addEventListener('click', (e)=>{
        e.target.parentElement.children[0].focus();
        });
        ph_pw.addEventListener('click', (e)=>{
            e.target.parentElement.children[0].focus();
        });