extends layout 

block content
    section
        #main.container
            #main2.clearfix
                #content
                    img.mainImg(src='/images/main.jpeg')
                    p#recom.fs-4.text-center
                        a#recommend(href = '/recommend/input') Recommend